

<div class="row" style="margin-top:150px;">
  <div class="col-lg-10 offset-lg-1">
    <div class="row">
      <div class="col-lg-4">

        <div class="newcard">
          <div class="col-4">
            <img class="card-image" src="../../../assets/add-user.png" style="display: inline-block;">
          </div>
          <div class="col-8">
            <span style="font-weight:500;font-size:16px;">Users</span>
          </div>
          <a [routerLink]="['../users']" class="stretched-link"></a>
        </div>
        <div style="height:30px;"></div>

      </div>
      <div class="col-lg-4">

        <div class="newcard">
          <div class="col-4">
            <img class="card-image" src="../../../assets/systems.jfif" style="display: inline-block;">
          </div>
          <div class="col-8">
            <span style="font-weight:500;font-size:16px;">Systems</span>
          </div>
          <a [routerLink]="['../systems']" class="stretched-link"></a>
        </div>
        <div style="height:30px;"></div>

      </div>
      <div class="col-lg-4">

        <div class="newcard">
          <div class="col-4">
            <img class="card-image" src="../../../assets/sub-systems1.jpg" style="display: inline-block;">
          </div>
          <div class="col-8">
            <span style="font-weight:500;font-size:16px;">Sub-Systems</span>
          </div>
          <a [routerLink]="['../sub-systems']" class="stretched-link"></a>
        </div>
        <div style="height:30px;"></div>

      </div>

      <div class="col-lg-4">

        <div class="newcard">
          <div class="col-4">
            <img class="card-image" src="../../../assets/projects.png" style="display: inline-block;">
          </div>
          <div class="col-8">
            <span style="font-weight:500;font-size:16px;">Projects</span>
          </div>
          <a [routerLink]="['../projects']" class="stretched-link"></a>
        </div>
        <div style="height:30px;"></div>

      </div>

    </div>

  </div>

</div>



